#include "dngsdkBuild.xcconfig"
#include "dngsdkFlags.xcconfig"

DNG_VALIDATE_FLAGS = qDNGValidate=1 qDNGValidateTarget=1 qDNGUseLibJPEG=1

GCC_PREPROCESSOR_DEFINITIONS = $(DNG_VALIDATE_FLAGS) $(DNG_SDK_DEBUG_FLAGS) $(DNG_SDK_COMMON_FLAGS)

HEADER_SEARCH_PATHS = $(DNG_SDK_COMMON_HEADERS)

USER_HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS)
